FreelancerNodeServer/node_modules/*
FreelancerNodeServer/.idea/*
FreelancerNodeServer/public/ProfileImage/*
FreelancerNodeServer/public/project_files/*
freelancerreact/.idea/*
freelancerreact/node_modules/*
freelancerreact/.gitignore
freelancerreact/README.md
kafka-back-end/node_modules/*
.idea/*
